html, body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 auto;
}

h1, h2{
    text-transform: uppercase;
    font-family: 'Lora', 'Nunito' serif;
}

body img{
    margin: 0 auto;
    width: 100%
}

a {
    text-decoration: none;
}

.norm-link a {
    color: #202020;
}

#mast {
    min-width: 13em;
    width:13%;
    display: inline;
    float: left;
    padding-top: 2em;
    padding-bottom: 2.5em;
    padding-left: 0%;
}
.navi{
    width: 100%;
    box-shadow: 0px 1px .2em;
    margin-bottom: 10em;
    position: fixed;
    background-color: #fff;
    z-index: 99999;
}

.scrolled{
  background-color: dodgerblue;
  transition: 0.3s;
}
.navi .navigation {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    min-height: 10%;
    max-height: 25%;
}

.navi .navigation a:hover {
    color: #aaa;
    text-decoration: none;
    transition: .3s;
}

.navi .navigation ul{
    list-style-type: none;
    text-align: right;
    margin: 0 auto;
    position: relative;
}

.navi .navigation ul li {
    display: inline;
    padding: .75em;
}

.navi .navigation ul li:hover{
    text-decoration: none;
}

#navright {
    float: right;
    bottom: 0px;
    font-family: Nunito, sans-serif;
    font-size: 1.2em;
    width: 50em;
    padding: 3.5em;
}

.wrapper {
    width: 80%;
    min-height: 50px;
    max-width: 1200px;
    height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
    height: 100%;
    margin: 0 auto; /* the bottom margin is the negative value of the footer's height */
    overflow: hidden;
}

.wrapper:after {
    content: "";
    display: block;
}

#active, .customlink {
    color: #ae1f23;
    transition: .3s;
}

#active:hover, .customlink:hover{
    text-decoration: none;
}

#lastel {
    border: 2px solid #ae1f23;
    padding: .7em;
    border-radius: px;
    transition: .3s;
}


#lastel:hover{
    text-decoration: none;
    background: #ae1f23;
    color: white;
    transition: .3s;
    box-shadow: 0 1px .5em;
}

/*This is the color of the last element link*/
#last { 
    color: #ae1f23;
}

#last:hover{
    text-decoration: none;
}

.container1 {
    background-color: #fff;
    width: 100%;
}

.container2 {
    background-color: #efefef;
    width: 100%;
}

.line {
    width: 13%;
    margin: auto;
    padding: .2em;
    margin-bottom: .2em;
}

.covercontainer{
    padding-top: 12em;
    width: 100%;
    overflow: hidden;
}

.carousel-caption {
    position: absolute;
    top: 25%;
    left: 5%;
    margin: 0 auto;
    max-height: 9em;
    max-width: 40em;
/*
    background-color: white;
    border-radius: 2em;
    opacity: .6;
*/
    /*  text-shadow: 0 1px 2px rgba(0,0,0,.6);*/
}

.carousel-caption h3{
    color: #202020;
    font-family: sans-serif;
    text-transform: uppercase;
}

.carousel-caption h6{
    color: #ae1f23;
}

.carousel img{
    width: 100%;
    margin-bottom: -30%;
    margin-top: -15%;
}

#main {
    padding-top: 12em;
    background-color: #ddd;
    word-spacing: .4em;
    line-height: 1.9em;
}

#main p {
    font-size: 1.2em;
    font-family: Roboto, sans-serif;
}

#main h3 {
    font-family: Nunito, sans-serif;
    font-size: 1.9em;
    font-weight: 700;
    color: #ae1f23;
}

#main h4{
    font-family: Nunito, sans-serif;
    font-size: 1.5em;
    font-weight: 700;
}

.cover {
    text-align: center;
    width: 100%;
    padding: 1em;
    margin-bottom: 2em;
    overflow: hidden;

}

.cover li {
    text-align: left;
    font-family: Roboto, sans-serif;
    line-height: 2.3em;
}

.cover h3{
    font-weight: 600;
}

#head {
    padding: .7em;
    text-align: center;
    font-size: 2.7em;
    
}

.leftcontent {
    padding: 4em 0em;
    width: 50%;
    float: left;
}

.leftcontent h1{
    font-size: 3.27em;
    color: darkslategray;
}

.leftcontent p {
    font-size: 1.3em;
    line-height: 1.8em;
    word-spacing: .18em;
    color: #737373;
}

.rightcontent {
    padding: 4em 0em;
    width: 50%;
    float: right;
    margin-top: 10%;
    text-align: left;
}

.rightcontent h1{
    font-size: 3.27em;
    color: darkslategray;
}

.rightcontent p {
    font-size: 1.3em;
    line-height: 1.8em;
    word-spacing: .18em;
    color: #737373;
}

#rightimg {
    width: 50%;
    margin: 0 auto;
}

#leftimg{
    width: 70%;
    margin-top: 20%;;
    text-align: center;
}
#zinc{
    width: 50%;
    margin-top: 20%;;
    margin-left: 20%;
}
.button {
    padding: 1em;
    text-transform: uppercase;
}

#but1 {
    text-align: right;
}
.bordered {
    border: 2px solid black;
}
.button a{
    background-color: #ae1f23;
    padding: 1em;
    border-radius: 2em;
    font-size: 1em;
    color: white;
    transition: .3s;
}

.button a:hover{
    background-color: #6a1518;
    padding: 1em;
    border-radius: 2em;
    font-size: 1em;
    color: white;
    transition: .3s;
    text-decoration: none;
}

.cover a{
    color: #ae1f23;
}

.cover a:hover{
    transition: .3s;
    color: #7c7c7c;
    text-decoration: none;
}

.learnmore a{
    color: #ae1f23;
    transition: .3s;
}

.learnmore a:hover{
    transition: .3s;
    text-decoration: none;
    color: #202020;
}

#services {
    width: 100%;
    clear: both;
    padding: 2em 0em;
}

.services {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
    height: 450px;
    padding: .8em;
    font-size: .97em;
    font-family: Nunito, sans-serif;
}

.services .quality{
    float: left;
    width: 25%;
    padding: 1em;
} 

.services .casting{
    float: left;
    width: 25%;
    padding: 1em;
} 

.services .facilities{
    float: left;
    width: 25%;
    padding: 1em;
}

.services .capabilities {
    float: left;
    width: 25%;
    padding: 1em;
}

.services img {
    margin: 0 auto;
    display: block;
    opacity: .7;
}

#push{
    padding-top: 12em;
}
#quality {
	width: 100%;
	clear: both;
	background-color: #fff;
	padding: 3em 0em;
}
.quality {
	width: 80%;
	margin: 0 auto;
	max-width: 900px;
	padding: .8em;
    text-align: center;
}
.quality p {
	text-align: center;
	color: #5b5b5b;
}
.quality img {
	
	width: 60%;
}

#facilities {
	width: 100%;
	clear: both;
	background-color: #fff;
	padding: 3em 0em;
}
.facilities {
	width: 80%;
	margin: 0 auto;
	max-width: 900px;
	padding: .8em;
    text-align: center;
}
.facilities p {
	text-align: center;
	color: #5b5b5b;
}
.facilities img {
	
	width: 60%;
}

#capabilities {
	width: 100%;
	clear: both;
	background-color: #fff;
	padding: 3em 0em;
}
.capabilities {
	width: 80%;
	margin: 0 auto;
	max-width: 900px;
	padding: .8em;
    text-align: center;
}
.capabilities p {
	text-align: center;
	color: #5b5b5b;
}
.capabilities img {
	
	width: 60%;
}

#casting {
	width: 100%;
	clear: both;
	background-color: #fff;
	padding: 3em 0em;
}
.casting {
	width: 80%;
	margin: 0 auto;
	max-width: 900px;
	padding: .8em;
    text-align: center;
}
.casting p {
	text-align: center;
	color: #5b5b5b;
}
.casting img {
	
	width: 60%;
}

footer {
    background-color: #2d2d2d;
}

footer a{
    color: inherit;
    transition: .3s;
    padding: 1em;
}

footer a:hover{
    transition: .3s;
    color: #eee;
    text-decoration: none;
}


footer p {
    text-align: center;
    color: #aaa;
    font-family: Nunito, sans-serif;
    font-size: 1em;
    padding: 1em;
}

.site-footer, .wrapper:after {
    height: 50px; /* .push must be the same height as .footer */
}

/* This is where I will be adding css to account for different devices.
@media screen and (max-width: 840px){
    
}*/
