    /*
    Flaticon icon font: Flaticon
    Creation date: 08/10/2018 09:05
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-001-machinery:before { content: "\f100"; }
.flaticon-002-packs:before { content: "\f101"; }
.flaticon-003-factory:before { content: "\f102"; }
.flaticon-004-machine:before { content: "\f103"; }
.flaticon-005-mechanical-arm:before { content: "\f104"; }
.flaticon-006-worker:before { content: "\f105"; }
.flaticon-007-process:before { content: "\f106"; }
.flaticon-008-industrial:before { content: "\f107"; }
.flaticon-009-mass-production:before { content: "\f108"; }
.flaticon-010-conveyor:before { content: "\f109"; }
.flaticon-011-machinery-1:before { content: "\f10a"; }
.flaticon-012-setting:before { content: "\f10b"; }
.flaticon-013-cargo:before { content: "\f10c"; }
.flaticon-014-conveyor-1:before { content: "\f10d"; }
.flaticon-015-merchandise:before { content: "\f10e"; }
.flaticon-016-factory-1:before { content: "\f10f"; }
.flaticon-017-truck:before { content: "\f110"; }
.flaticon-018-mass-production-1:before { content: "\f111"; }
.flaticon-019-factory-2:before { content: "\f112"; }
.flaticon-020-dashboard:before { content: "\f113"; }
.flaticon-021-computer:before { content: "\f114"; }
.flaticon-022-technology:before { content: "\f115"; }
.flaticon-023-conveyor-2:before { content: "\f116"; }
.flaticon-024-manufacturing:before { content: "\f117"; }
.flaticon-025-engineer:before { content: "\f118"; }
.flaticon-026-engineers:before { content: "\f119"; }
.flaticon-027-production:before { content: "\f11a"; }
.flaticon-028-engineer-1:before { content: "\f11b"; }
.flaticon-029-cake:before { content: "\f11c"; }
.flaticon-030-safe:before { content: "\f11d"; }
.flaticon-031-mass-production-2:before { content: "\f11e"; }
.flaticon-032-technology-1:before { content: "\f11f"; }
.flaticon-033-conveyor-3:before { content: "\f120"; }
.flaticon-034-bar-code:before { content: "\f121"; }
.flaticon-035-product:before { content: "\f122"; }
.flaticon-036-industry:before { content: "\f123"; }
.flaticon-037-industry-1:before { content: "\f124"; }
.flaticon-038-mass-production-3:before { content: "\f125"; }
.flaticon-039-engineering:before { content: "\f126"; }
.flaticon-040-manufacturing-1:before { content: "\f127"; }
.flaticon-041-mass-production-4:before { content: "\f128"; }
.flaticon-042-weight:before { content: "\f129"; }
.flaticon-043-factory-3:before { content: "\f12a"; }
.flaticon-044-monitoring:before { content: "\f12b"; }
.flaticon-045-idea:before { content: "\f12c"; }
.flaticon-046-mass-production-5:before { content: "\f12d"; }
.flaticon-047-conveyor-4:before { content: "\f12e"; }
.flaticon-048-conveyor-5:before { content: "\f12f"; }
.flaticon-049-gears:before { content: "\f130"; }
.flaticon-050-machinery-2:before { content: "\f131"; }
    
    $font-Flaticon-001-machinery: "\f100";
    $font-Flaticon-002-packs: "\f101";
    $font-Flaticon-003-factory: "\f102";
    $font-Flaticon-004-machine: "\f103";
    $font-Flaticon-005-mechanical-arm: "\f104";
    $font-Flaticon-006-worker: "\f105";
    $font-Flaticon-007-process: "\f106";
    $font-Flaticon-008-industrial: "\f107";
    $font-Flaticon-009-mass-production: "\f108";
    $font-Flaticon-010-conveyor: "\f109";
    $font-Flaticon-011-machinery-1: "\f10a";
    $font-Flaticon-012-setting: "\f10b";
    $font-Flaticon-013-cargo: "\f10c";
    $font-Flaticon-014-conveyor-1: "\f10d";
    $font-Flaticon-015-merchandise: "\f10e";
    $font-Flaticon-016-factory-1: "\f10f";
    $font-Flaticon-017-truck: "\f110";
    $font-Flaticon-018-mass-production-1: "\f111";
    $font-Flaticon-019-factory-2: "\f112";
    $font-Flaticon-020-dashboard: "\f113";
    $font-Flaticon-021-computer: "\f114";
    $font-Flaticon-022-technology: "\f115";
    $font-Flaticon-023-conveyor-2: "\f116";
    $font-Flaticon-024-manufacturing: "\f117";
    $font-Flaticon-025-engineer: "\f118";
    $font-Flaticon-026-engineers: "\f119";
    $font-Flaticon-027-production: "\f11a";
    $font-Flaticon-028-engineer-1: "\f11b";
    $font-Flaticon-029-cake: "\f11c";
    $font-Flaticon-030-safe: "\f11d";
    $font-Flaticon-031-mass-production-2: "\f11e";
    $font-Flaticon-032-technology-1: "\f11f";
    $font-Flaticon-033-conveyor-3: "\f120";
    $font-Flaticon-034-bar-code: "\f121";
    $font-Flaticon-035-product: "\f122";
    $font-Flaticon-036-industry: "\f123";
    $font-Flaticon-037-industry-1: "\f124";
    $font-Flaticon-038-mass-production-3: "\f125";
    $font-Flaticon-039-engineering: "\f126";
    $font-Flaticon-040-manufacturing-1: "\f127";
    $font-Flaticon-041-mass-production-4: "\f128";
    $font-Flaticon-042-weight: "\f129";
    $font-Flaticon-043-factory-3: "\f12a";
    $font-Flaticon-044-monitoring: "\f12b";
    $font-Flaticon-045-idea: "\f12c";
    $font-Flaticon-046-mass-production-5: "\f12d";
    $font-Flaticon-047-conveyor-4: "\f12e";
    $font-Flaticon-048-conveyor-5: "\f12f";
    $font-Flaticon-049-gears: "\f130";
    $font-Flaticon-050-machinery-2: "\f131";